/*estilos utilizando elementos html*/
body{
    background-color: wheat
}

h1 {
    /*propiedades*/
    text-align: center;
    color: brown;
}

h2{
    color: rgb(33, 29, 33);

}
/*selector de clase*/
